<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>
<body>
  <div class="container mx-2">
  <div class="row">
    <div class="col-sm-6">
      <h2>Parent Component</h2>
      <form>
        <div class="mb-3">
          <label  class="form-label">Name</label>
          <input type="text" #name class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Mark</label>
          <input type="text" #mark class="form-control" >
        </div>
        
        <button type="button" (click)="TransferData(name.value,mark.value)" class="btn btn-primary">Submit</button>
        <br>
        <span class="responsebtn" (click)="responseData()">{{response}}</span>
      </form>
    </div>
    <div class="col-sm-6">
      <h2>Child Component</h2>
      <app-child [namedata]="inputname" [markdata]="inputmark" [objdata]="inputobj" (dataupdateevent)="updateTitle($event)"></app-child>
    </div>
  </div>
</div>    
</body>
</html>